In [1]:
import math
import numpy as np
import pandas as pd
import seaborn as sns

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    display(x)
    pd.reset_option('display.max_rows')

In [13]:
median_sales_agg = pd.read_csv("MSPUS.csv")
median_sales_usa = pd.read_csv("Sale_Prices_City.csv")
kc_town_names = pd.read_csv("kc_town_names.csv")
median_sales_wash = median_sales_usa[median_sales_usa["StateName"]=="Washington"]
median_sales_kings = pd.merge(kc_town_names, median_sales_wash, right_on="RegionName")

TypeError: object of type 'NoneType' has no len()

In [5]:
median_sales_agg["DATE"] = pd.to_datetime(median_sales_agg["DATE"], format='%Y-%m-%d')

In [6]:
df = pd.read_csv("kc_house_data_train.csv", index_col="Unnamed: 0")

In [7]:
df["date"]=df["date"].map(lambda x: x[0:8])
df["date"] = pd.to_datetime(df["date"], format='%Y%m%d')

In [15]:
for column in df.columns:
    print(column, df[column].isna().sum())

id 0
date 0
price 0
bedrooms 0
bathrooms 0
sqft_living 0
sqft_lot 0
floors 0
waterfront 0
view 0
condition 0
grade 0
sqft_above 0
sqft_basement 0
yr_built 0
yr_renovated 0
zipcode 0
lat 0
long 0
sqft_living15 0
sqft_lot15 0

In [22]:
df["date"]

0       2014-10-06
1       2014-08-21
2       2014-08-15
3       2015-03-31
4       2014-07-14
           ...
17285   2015-03-03
17286   2014-05-20
17287   2014-05-14
17288   2014-12-04
17289   2015-01-16
Name: date, Length: 17290, dtype: datetime64[ns]

In [17]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [18]:
median_sales

          DATE     MSPUS
0   1963-01-01   17800.0
1   1963-04-01   18000.0
2   1963-07-01   17900.0
3   1963-10-01   18500.0
4   1964-01-01   18500.0
..         ...       ...
223 2018-10-01  322800.0
224 2019-01-01  313000.0
225 2019-04-01  322500.0
226 2019-07-01  318400.0
227 2019-10-01  324500.0

[228 rows x 2 columns]

In [26]:
df[["lat","long"]]

           lat     long
0      47.4388 -122.162
1      47.6784 -122.285
2      47.5646 -122.129
3      47.6995 -122.228
4      47.6647 -122.083
...        ...      ...
17285  47.5858 -122.112
17286  47.6687 -122.288
17287  47.7635 -122.262
17288  47.4199 -121.990
17289  47.7366 -122.319

[17290 rows x 2 columns]

In [27]:
df["date"].max()

Timestamp('2015-05-27 00:00:00')

In [9]:
median_sales[median_sales["StateName"]=="Washington"]["RegionName"].unique()

array(['Seattle', 'Vancouver', 'Spokane', 'Tacoma', 'Renton', 'Bellevue',
       'Kent', 'Bellingham', 'Yakima', 'Everett', 'Federal Way', 'Auburn',
       'Kennewick', 'Bothell', 'Redmond', 'Lynnwood', 'Spokane Valley',
       'Kirkland', 'Pasco', 'Marysville', 'Bremerton', 'Lakewood',
       'Snohomish', 'Edmonds', 'Sammamish', 'Olympia', 'Port Orchard',
       'Richland', 'Lacey', 'Shoreline', 'Puyallup', 'South Hill',
       'Longview', 'Spanaway', 'Burien', 'Mount Vernon', 'Bonney Lake',
       'Lake Stevens', 'Gig Harbor', 'Walla Walla', 'Arlington',
       'Wenatchee', 'Moses Lake', 'Woodinville', 'Port Angeles',
       'Battle Ground', 'Shelton', 'Oak Harbor',
       'Paine Field-Lake Stickney', 'Pullman', 'University Place',
       'Camas', 'Maple Valley', 'Ellensburg', 'Des Moines', 'Seatac',
       'Graham', 'Centralia', 'Poulsbo', 'Sequim', 'Parkland', 'Monroe',
       'Mercer Island', 'Kelso', 'Silverdale', 'Yelm', 'Sunnyside',
       'Kenmore', 'Washougal', 'Tukwila', 'Cheney', 'Stanwood',
       'Enumclaw', 'Mill Creek', 'Mountlake Terrace', 'Lynden',
       'Clarkston', 'Covington', 'Bainbridge Island', 'Tumwater',
       'Anacortes', 'Selah', 'Mukilteo', 'Buckley', 'Orting',
       'Bryn Mawr-Skyway', 'White Center', 'North Bend', 'West Richland',
       'Burlington', 'Colville', 'East Wenatchee', 'Kingston', 'Sumner',
       'Camano Island', 'Duvall', 'Snoqualmie', 'Woodland', 'Roy',
       'Rochester', 'Fife', 'Liberty Lake', 'Edgewood', 'Blaine',
       'Port Townsend', 'Summit', 'Eatonville', 'Dupont', 'Frederickson',
       'Colbert', 'Tenino', 'Goldendale', 'Nine Mile Falls',
       'Sedro-Woolley', 'Steilacoom', 'Port Ludlow'], dtype=object)

In [21]:
# median_sales['in_kings'] = np.where(median_sales['StateName']=="Washington", 1,0)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [15]:
median_sales["in_kings"].sum()

116

In [9]:
median_sales_wash

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
23,16037,Seattle,Washington,24,410000.0,411500.0,412800.0,410400.0,401200.0,396300.0,...,671400.0,688500.0,701300.0,708200.0,698900.0,691300.0,683000.0,697200.0,709300.0,722200.0
63,48215,Vancouver,Washington,64,242300.0,240000.0,230700.0,228900.0,227200.0,226500.0,...,334600.0,337700.0,333300.0,333700.0,334100.0,337600.0,337800.0,338300.0,343700.0,350100.0
81,20604,Spokane,Washington,82,166100.0,160400.0,156700.0,155600.0,154900.0,155000.0,...,225700.0,216700.0,220700.0,218600.0,223300.0,222000.0,224000.0,225500.0,229800.0,236400.0
124,27362,Tacoma,Washington,125,228400.0,230200.0,221000.0,217100.0,209300.0,206600.0,...,301700.0,301100.0,302600.0,301000.0,306000.0,302200.0,302600.0,309100.0,322300.0,326200.0
218,13480,Renton,Washington,219,336000.0,335400.0,334500.0,323200.0,319100.0,313700.0,...,480100.0,485900.0,494100.0,485100.0,474600.0,475300.0,469600.0,475700.0,492000.0,518200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3663,55847,Goldendale,Washington,3664,NaN,NaN,NaN,NaN,NaN,NaN,...,142700.0,141400.0,144400.0,144500.0,155500.0,158900.0,170300.0,190900.0,203900.0,199900.0
3697,33121,Nine Mile Falls,Washington,3698,NaN,NaN,NaN,NaN,NaN,NaN,...,286300.0,270400.0,272700.0,298100.0,355500.0,366800.0,325400.0,298000.0,305400.0,NaN
3707,251873,Sedro-Woolley,Washington,3708,NaN,NaN,NaN,NaN,NaN,NaN,...,270200.0,275900.0,294600.0,292600.0,282500.0,281600.0,281800.0,301700.0,299300.0,314900.0
3806,47843,Steilacoom,Washington,3807,NaN,NaN,NaN,NaN,NaN,NaN,...,406100.0,342900.0,366300.0,368100.0,387100.0,400200.0,396100.0,416200.0,419100.0,456000.0
3839,15850,Port Ludlow,Washington,3840,NaN,NaN,NaN,NaN,NaN,NaN,...,498300.0,416100.0,388200.0,379500.0,468000.0,454400.0,429200.0,390800.0,421900.0,462100.0